.bluebtn {
  background-color: #00A9FF;
  padding: 8px;
  color: #ffffff;
  text-decoration: none;
}
body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  background: linear-gradient(45deg, #7751fe 0%, #00a9ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 80%;
  height: 90%;
  background-color: #f4f8f9;
  border-radius: 4px;
}
.container .headbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 95%;
  height: 50px;
  align-items: center;
}
.container .headbar .left {
  padding-left: 25px;
}
.container .headbar .right {
  padding-right: 25px;
}
.container .main {
  height: auto;
  margin: 25px auto;
  padding: 20px;
}
.container .main .header {
  display: flex;
  justify-content: space-between;
}
.container .main .list {
  margin-top: 30px;
}
.container .main .list .todolist {
  background-color: white;
  width: 100%;
  display: flex;
  height: 45px;
  align-items: center;
}
.container .main .list .todolist .listlabel {
  padding-left: 20px;
}
