.row{
    width:80%;
    padding: 15px;
    border: 1px solid #dadfea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    position:relative;
}
.rowleft{
    display: flex;
}
.iconspot{
    margin-right: 10px;
    width: 16px;
}
.complete{
    color: green;
    border-color: green;
}
.fa-trash{
    cursor: pointer;
    margin-left: 8px;
}